.top-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 599px) {
    .top-card{
        display: flex;
        flex-direction: column;
    }
}