@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-image: linear-gradient(hsl(232, 19%, 15%) 35%, hsl(230, 17%, 14%) 35%);
  font-family: "Inter", sans-serif;
  min-width: 50rem;
  padding: 1rem 10rem;
  color: white;

}

.dark{
background-color:hsl(230, 17%, 14%);
}

.card-dark{
background-color:hsl(228, 28%, 20%)
}

.dark-main-text{
color: white
}

.dark-sec-text{
color: hsl(228, 34%, 66%)
}

.light{
background-color: hsl(0, 0%, 100%)}

.card-light{
background-color: hsl(227, 47%, 96%);
}

.light-main-text{
color: hsl(230, 17%, 14%);
}

.light-sec-text{
color: hsl(228, 12%, 44%);
}

@media screen and (max-width: 599px) {
  body{
    padding: 0;
    min-width: 18rem;
  }
}